<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		  "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>
	<bean id="id1" class="bean.A">
		<property name="b">
			<ref local="id2" />
		</property>
	</bean>

	<bean id="id2" class="bean.B">
		<constructor-arg ref="id1" />
	</bean>

</beans>
		  