<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN"
		  "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
<beans>
	<bean id="c" class="bean.Car" dependency-check="simple">
	<!-- no need to call primitive setter methods -->
	<property name="carname" value="Benz"/>
	</bean>
	<bean id="e" class="bean.Engine" dependency-check="none">
	<!-- no need to call any setter methods -->
	</bean>
	
</beans>
		  